---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="Colophon | Sabine Emden"
  description="Why and how I developed my portfolio website, the tools and technologies I used, and the principles that govern the site."
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero title="Colophon" tagline="How I built my portfolio website" />

      <section>
        <h2 class="section-title">Framework and tooling</h2>
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel rem
            libero blanditiis facilis nobis neque sequi ullam, illum dolorem
            ipsam eligendi ratione dicta laborum voluptatibus obcaecati quae,
            rerum, vitae facere voluptate repellendus! Molestias corrupti omnis
            officia possimus, quae sint praesentium laborum ea mollitia
            temporibus ab enim blanditiis earum suscipit.
          </p>
        </div>
      </section>

      <section>
        <h2 class="section-title">Design</h2>
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel rem
            libero blanditiis facilis nobis neque sequi ullam, illum dolorem
            ipsam eligendi ratione dicta laborum voluptatibus obcaecati quae,
            rerum, vitae facere voluptate repellendus! Molestias corrupti omnis
            officia possimus, quae sint praesentium laborum ea mollitia
            temporibus ab enim blanditiis earum suscipit.
          </p>
        </div>
      </section>

      <section>
        <h2 class="section-title">Personalizing my portfolio</h2>
        <div class="content">
          <p>
            In addition to customizing copy, images, and social media links, I
            made a few minor UI modifications. I'm planning to add a blog, and I
            added two <a href="https://slashpages.net/">slash pages</a>, this <a
              href="/colophon">colophon</a
            > and a <a href="/now">now page</a>.
          </p>
        </div>
      </section>

      <section>
        <h2 class="section-title">Hosting</h2>
        <div class="content">
          <p>
            This site is deployed to <a href="https://netlify.com/">Netlify</a> as
            a static site and takes advantage of continuous deployment. The source
            code is hosted in a Git repository on <a href="https://github.com/"
              >GitHub</a
            >. Netlify watches this repository's main branch for changes. It
            rebuilds and republishes the site at each new commit.
          </p>
          <p></p>
        </div>
      </section>

      <section>
        <h2 class="section-title">Domain name</h2>
        <div class="content">
          <p>
            I chose my first and last name with a .com extension as the domain
            name for my portfolio site. This was the most obvious (and often
            recommended) choice for a website I want to use professionally in
            job applications. It also matches my social media handles on most
            platforms.
          </p>
          <p>
            My domain registrar is <a href="https://www.hover.com/">Hover</a>.
            The <abbr title="Domain Name System">DNS</abbr> provider is Netlify DNS.
          </p>
        </div>
      </section>

      <section>
        <h2 class="section-title">Acknowledgements</h2>
        <div class="content">
          <p>
            I used a couple of resources as inspiration and guidance for
            creating this website:
          </p>
          <ul>
            <li>
              <a
                href="https://www.frontendmentor.io/learning-paths/getting-job-ready-D1Oy0wCxWj"
                >Getting job ready</a
              > learning path on Frontend Mentor - The article <cite
                >Creating an effective portfolio</cite
              > has helpful tips on how to structure a portfolio, source a design,
              select projects, and write project descriptions.
            </li>
            <li>
              <a href="https://www.joshwcomeau.com/effective-portfolio/"
                >Building an Effective Dev Portfolio</a
              > by Josh Comeau - This e-book has has two case study and lots of good
              advice on how to use a portfolio site to stand out to prospective employers
              when searching for a junior developer job.
            </li>
            <li>
              <a href="https://www.annamcdougall.com/book">You Belong in Tech</a
              > by Anna Jean McDougall - This is a great book for anyone who is considering
              a career change into tech. The sections on personal branding and crafting
              an elevator pitch have been very helpful to me.
            </li>
          </ul>
        </div>
      </section>
      <section>
        <!-- <h2 class="section-title">Hosting</h2> -->
        <div class="content">
          <p>Last updated on May 8, 2025.</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .content :global(a) {
    text-decoration: 1px solid underline currentColor; /* changed from `transparent` */
    text-underline-offset: 0.25em;
    /* transition: text-decoration-color var(--theme-transition); */
  }

  /* .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  } */

  @media (min-width: 60em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
